@media screen and (min-width: 980px) {
  #flower-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  main {
    width: 900px;
  }

  form {
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  label {
    margin: 5px;
  }

  select {
    text-align: center;
    padding: 5px;
    width: 150px;
    margin: 5px;
  }
}
