body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  text-align: center;
  background-color: #3a468c;
  color: whitesmoke;
}

footer {
  border: 2px dotted #c379d0;
  padding: 50px;
  margin: 20px;
}

h1 {
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
}

img {
  width: 500px;
  height: auto;
  padding: 20px;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

li {
  list-style: none;
}

li::before {
  content: "🌷 ";
}

.name {
  background-color: #b5bf63;
  color: black;
  padding: 20px;
  border: #8a8c45 5px solid;
}

.wireframe {
  width: 900px;
  height: auto;
}

.the-rest {
  border: 5px dotted #3b568c;
  margin: 20px;
  padding: 20px;
}
