* {
	margin: 0;
	padding: 0;
}

header {
  background-color: lightblue;
  padding: 2rem;
  grid-column: 1/4;
}

nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}

p {
	text-align: center;
}

.body-container {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / 300px 1fr auto;
}

.left-sidebar {
    background: lightseagreen;
    grid-column: 1 / 2;
}

main{
    color:aliceblue;
    background: black;
    grid-column: 2 / 3;

}

.right-sidebar{
    background: lightseagreen;
    grid-column: 3 / 4;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}

.navigation li {
	flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}


