:root {
  --background-color: antiquewhite;
  --primary-font: "Roboto", sans-serif;
  --primary-font-style: normal;
  --font-weight: 400;
  --decorative-line-color: rgb(145, 149, 145);
  --weather-bg: rgb(77, 91, 77);
  --weather-text-color: rgb(252, 252, 252);
  --hero-img-padding: 20px;
  --hero-bg-color: rgb(69, 63, 58);
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  font-style: var(--primary-font-style);
  font-variation-settings: "wdth" 100;
}

footer {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: "Knewave", system-ui;
  font-weight: var(--font-weight);
  font-style: normal;
  text-align: center;
  color: var(--hero-bg-color);
  font-size: 45px;
}

h2 {
  text-align: center;
  font-family: "Kite One", sans-serif;
  font-weight: var(--font-weight);
  font-style: normal;
}

.decorative-line {
  border: 0;
  height: 2px;
  background-color: var(--decorative-line-color);
  width: 50%;
  margin: 20px auto;
}

.weather,
.data {
  background-color: var(--weather-bg);
  border: 1px solid var(--decorative-line-color);
  color: var(--weather-text-color);
  padding: 20px;
}

.weather h2::after {
  content: url("../images/weather-icon.svg");
  width: 24px;
  height: auto;
  display: inline-block;
}

.info {
  padding: 20px;
}

picture {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container without distortion */
  padding: var(--hero-img-padding);
  box-sizing: border-box; /* Prevents padding from causing overflow */
}
